body{
    background-image: url("Images/Heinz+baked+beans.jpg");
    background-repeat: repeat;
}

.NavBar{
    border-radius: 530px;
    padding: 0.25% 0%;
    position: sticky;
    top: 4px;
    background-color: #2e81ff;
    z-index: 1024;
    font-size: 2vw;
    color: white;
}

.NavBar ul{
    padding-left: 7%;
    overflow: auto;
}

.NavBar li{
    list-style: none;
    float: left;
    padding-right: 4%;
}

.NavBar a:visited{
    color: #eeeeee;
}

.NavBar a:hover{
    color: #22ff22;
}

.NavBar a:active{
    color: #f22
}



li a {
    text-decoration: none;
}

.Navbar li a {
    text-decoration: none;
    font-size: 4vw;
}

.background {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2px;
    background-color: brown;
    padding-bottom: 118%;
    border-radius: 10px;
    display: flex;
    z-index: 0;
    position: relative;
}

.box1, .box2{
    border-radius: 10px;
    z-index: 1;
    margin: 0px;
    padding: 19.5% 50%;
    background-color: #fcfcfe;
    position: absolute;
}

.background h1{
    position: absolute; 
    font-size: 4.5vw;
}

.background p{
    position: absolute; 
    font-size: 2.4vw;
}

.box1 img {
    position: absolute;
    height: 99%;
    left: 0.5%;
    top: 0.5%;
    border-radius: 10px;
}

.box1 p, .box1 h1{
    top: -6%;
}

.box2 img {
    position: absolute;
    height: 99%;
    right: 0.5%;
    top: 0.5%;
    border-radius: 10px;
}

.box2 p, .box2 h1{
    top: -6%;
    text-align: left;
    left: 1%;
    width: 50%;
}

#dropdown{
    width: 50%;
    font-size: 2vw;
}